/* DARKER FORUM THEME */

/* Darker buttons and select fields */
.btn, .btn-success, select {
  background-image: none !important;
  background-color: #000 !important;
  color: #848484 !important;
  text-shadow: none !important;
}
/* Orange buttons and select fields HOVER */
.btn:hover, .btn-success:hover {
  color: #f2ab55 !important;
  text-decoration: none !important;
  background-image: none !important;
  background-color: #4b4b4b !important;
}
/* Hide useless FontAwesome list icon next to user profile details dropdown */
a.btn.btn-link {
  /*display: none;  */
}

/** NEW MESSAGE **/
/* New message/response dark background */
.well {
  background-color: #2b2b2b !important;
}
/* New message textarea darker background*/
textarea#kbbcode-message {
  background-color: #000 !important;
}
/* New subject darker input field for title */
textarea, input[type="text"] {
  background-color: #000 !important;
}
/* New subject tab background */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #fff !important;
  background-color: #f2ab55 !important;
}
/* Toolbar container clearer for clearer icons display */
.markItUpContainer {
  background-color: #b2afa8 !important;
}
.markItUpFooter {
  background-color: #2b2b2b !important;
}
/* 'Message' label padding */
label.control-label {
  padding-right: 50px !important; /* 10px */
}


/* New green and orange shades */
a {
  color: #f5cb52 !important; /* orange links */
}
.green {
  color: rgba(126, 182, 57, 1) !important;  /* green shades */
}


/* Hide copyright footer */
.t3-copyright {
  display: none;
}

/* Header  */
header {
  background-color:  #1A1A1A !important;
  border: #1A1A1A;
}

/* User details dropdown */
#nav-menu .dropdown-menu {
  background-color: #000 !important;
}
/* Darker dropdown background */
.dropdown-menu, .divider {
  background-color: #000 !important;
}
